/* PHASE 3: Content */

.content {
    background: white;
    margin: auto;
    width: 900px;

}

.content-sidebar {
    width: 200px;
    float: left;
    padding: 20px;

}

.content-main {
    width:620px;
    float: right;
    padding: 20px;

}

.content h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;


}
.content p {

}